<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ system_name }} IXMAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="zen, zensystems, zensystems.co.kr, bigdata, pci, admin">
    <meta name="author" content="Zenssytems">
    <meta name="keyword" content="zen, zensystems, zensystems.co.kr, bigdata, pci, admin">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/static/resources/js/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/resources/js/bootstrap-theme.min.css"/>
{#    <link rel="stylesheet" href="/static/login/css/elegant-icons-style.css"/>#}
{#    <link rel="stylesheet" href="/static/login/css/style.css">#}
{#    <link rel="stylesheet" href="/static/login/css/style-responsive.css"/>#}
{#    <link rel="stylesheet" href="/static/resources/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">#}

    <!--<script src="/static/login/js/sha512.js"></script>-->
    <script type="text/javascript" src="/static/resources/js/CryptoJS/rollups/sha512.js"></script>
    <script type="text/javascript" src="/static/resources/js/CryptoJS/rollups/md5.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="/static/login/js/html5shiv.js"></script>
    <script src="/static/login/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/resources/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/resources/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/resources/js/bootstrap.min.js"></script>
{#    <script type="text/javascript" src="/static/zenlog/classic/src/view/common/Application.js"></script>#}

    <!--검증중 화면전환효과-->
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2)">
    <META http-equiv="Page-Enter" CONTENT="RevealTrans(Duration=1, Transition=24)">
    <script language="javascript">
        $(document).ready(function () {
            $('#successModal').on('hidden', function () {
                if(!$("#userID").val()){$("#userID").focus();return;}
                if(!$("#email").val()){$("#email").focus();return;}
            })
        });

        function joinOnKeyDown(){
            var keyCode = event.keyCode;
             if(keyCode == 13)
             {
                  join();
             }
        }

        function closeWindow() {
            window.close()
        }

        function modalShow(message) {
            $('#alert-form-message').text(message);
            $('#successModal').modal()
        }

        function join(){
            var csrf = $('#csrfmiddlewaretoken').val(),
                    userID = $("#userID").val(),
                    email = $("#email").val();

            if(!userID) {modalShow('사용자 ID를 입력하세요.'); return false;}
            if(!email) {modalShow('이메일을 입력하세요.'); return false;}

            $.ajax({
                url: '/password/find',
                type: "POST",
                data: {
                    userID: userID,
                    email: email,
                    csrfmiddlewaretoken: csrf
                },
                success: function (data, textStatus, jqXHR) {
                    if(data.success) {
                        $('#finishModal').modal();
                        //closeWindow();
                    } else {
                        alert(data.msg_h);
{#                        modalShow('입력하신 ID와 이메일 정보가 일치하지 않습니다.');#}
                        return false;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    modalShow('서버와 네트워크 상태 이상');
                }
            });
        }
    </script>
</head>
<body>
<div class="join-header">
    <div class="col-md-12 join-header-title text-center">{{ system_name }} 패스워드 찾기</div>
</div>
<div class="join-body">
    <div class="col-md-12">
        <form id="join-form" method="POST">
            <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" id="salt" name="salt" value="{{ salt }}">
            <div class="form-group">
                <label for="joinInputEmail">사용자 ID</label>
                <input id="userID" name="userID" type="text" class="form-control" placeholder="사용자 ID" onKeyDown="joinOnKeyDown();">
            </div>
            <div class="form-group">
                <label for="joinInputEmail">메일</label>
                <input id="email" name="email" type="email" class="form-control" placeholder="이메일" onKeyDown="joinOnKeyDown();">
            </div>
        </form>
    </div>
</div>
<div class="join-footer">
    <div class="text-center"  class="col-md-12">
        <button type="button" class="btn btn-default" style="max-width: 160px; min-width: 100px; width: 40%" onclick="join();">요청</button>
        <button type="button" class="btn btn-default" style="max-width: 160px; min-width: 100px; width: 40%" data-toggle="modal" data-target="#cancelModal" onclick="closeWindow()">취소</button>
    </div>
</div>

<div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="successModalLabel">알림</h4>
      </div>
      <div class="modal-body">
        임시 비밀번호를 전송 했습니다.
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="closeWindow();">확인</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true" style="overflow: hidden">
    <div class="join-form">
        <div class="row" style="margin: 0px">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="join-header-dark">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 join-header-title text-center">알람</div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="join-body-small">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div id="alert-form-message" class="form-group"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="join-footer-dark">
                        <div class="text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>