.idea/*

*.DS_Store
*.orig
*.bak
*.tmp
*.swp
*.pyc
*.pyo
*.pyd

*.zip
*.gz
*.tgz
*.tar.gz
*.tbz2
*.bz2
*.tar

*.exe
*.msi
*.dmg
*.pid

control/migrations/*
static/zenlog/ext/build/*
static/app.js
#static/classic.json
#static/modern.json
bootstrap.json
bootstrap.css
classic.json
modern.json

#static/*/bootstrap.json
#static/classic.json
#static/*/classic.json
#static/*/sass/example/*

static/resources/*
template/resources/*
bootstrap.js
static/app.js
bootstrap.json
bootstrap.css
classic.json
modern.json
.env
env
venv
